alabaster==0.7.12
ansiwrap==0.8.4
anyio @ file:///D:/bld/anyio_1612745692177/work/dist
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
argon2-cffi @ file:///C:/ci/argon2-cffi_1596828549974/work
astroid @ file:///C:/ci/astroid_1592481955828/work
async-generator==1.10
attrs @ file:///tmp/build/80754af9/attrs_1604765588209/work
Babel @ file:///tmp/build/80754af9/babel_1607110387436/work
backcall==0.2.0
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1599478779128/work
bleach @ file:///tmp/build/80754af9/bleach_1611254400839/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1609346930842/work
brotlipy==0.7.0
certifi==2020.12.5
cffi @ file:///C:/ci/cffi_1606255207413/work
chardet @ file:///C:/ci/chardet_1607706910910/work
click==7.1.2
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
comtypes==1.1.8
cryptography @ file:///C:/ci/cryptography_1607639129468/work
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1609967009544/work
idna @ file:///home/linux1/recipes/ci/idna_1610986105248/work
imagesize @ file:///home/ktietz/src/ci/imagesize_1611921604382/work
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
ipykernel @ file:///C:/ci/ipykernel_1596208728219/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1604101327119/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipython-sql @ file:///D:/bld/ipython-sql_1602668106613/work
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1609995587151/work
isort @ file:///tmp/build/80754af9/isort_1612243941122/work
jdcal==1.4.1
jedi==0.17.0
Jinja2 @ file:///home/linux1/recipes/ci/jinja2_1610990516718/work
json5==0.9.5
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions @ file:///D:/bld/jupyter_contrib_nbextensions_1602805699967/work
jupyter-core @ file:///C:/ci/jupyter_core_1606130908768/work
jupyter-highlight-selected-word @ file:///D:/bld/jupyter_highlight_selected_word_1611341166305/work
jupyter-latex-envs @ file:///D:/bld/jupyter_latex_envs_1602788998110/work
jupyter-nbextensions-configurator @ file:///D:/bld/jupyter_nbextensions_configurator_1611341300533/work
jupyter-server @ file:///D:/bld/jupyter_server_1613709593343/work
jupyterlab==2.2.6
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1609173350931/work
keyring @ file:///C:/ci/keyring_1611778886866/work
kiwisolver @ file:///C:/ci/kiwisolver_1603996595157/work
lazy-object-proxy @ file:///C:/b/work
lxml @ file:///D:/bld/lxml_1610146674863/work
MarkupSafe @ file:///C:/ci/markupsafe_1594405949945/work
matplotlib @ file:///C:/ci/matplotlib-base_1603356257853/work
mccabe==0.6.1
mistune @ file:///C:/ci/mistune_1594373272338/work
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mypy-extensions @ file:///D:/bld/mypy_extensions_1610127414603/work
nbclient @ file:///tmp/build/80754af9/nbclient_1602783176460/work
nbconvert @ file:///C:/ci/nbconvert_1601914921407/work
nbformat @ file:///tmp/build/80754af9/nbformat_1610738111109/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1606153767164/work
notebook @ file:///C:/ci/notebook_1611348264852/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1603468620949/work
numpydoc @ file:///tmp/build/80754af9/numpydoc_1605117425582/work
olefile==0.46
openpyxl @ file:///tmp/build/80754af9/openpyxl_1610651698508/work
packaging @ file:///tmp/build/80754af9/packaging_1607971725249/work
pandas @ file:///C:/ci/pandas_1611178799982/work
pandocfilters @ file:///C:/ci/pandocfilters_1605102427207/work
papermill @ file:///home/conda/feedstock_root/build_artifacts/papermill_1612383313889/work
parso @ file:///tmp/build/80754af9/parso_1607623074025/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1605120834673/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///C:/ci/pillow_1609786872067/work
prettytable @ file:///home/conda/feedstock_root/build_artifacts/prettytable_1614725168556/work
prometheus-client @ file:///tmp/build/80754af9/prometheus_client_1606344362066/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
psutil @ file:///C:/ci/psutil_1612298033174/work
psycopg2 @ file:///D:/bld/psycopg2_1614021179919/work
PyAutoGUI @ file:///D:/bld/pyautogui_1602591096340/work
pycodestyle @ file:///home/ktietz/src/ci_mi/pycodestyle_1612807597675/work
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyflakes @ file:///home/ktietz/src/ci_ipy2/pyflakes_1612551159640/work
Pygments @ file:///tmp/build/80754af9/pygments_1610565767015/work
pylint @ file:///C:/ci/pylint_1598605958085/work
PyMsgBox @ file:///home/conda/feedstock_root/build_artifacts/pymsgbox_1602398310849/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
pyrsistent @ file:///C:/ci/pyrsistent_1600123688363/work
PyScreeze==0.1.26
PySocks @ file:///C:/ci/pysocks_1594394709107/work
python-dateutil==2.8.1
PyTweening==1.0.3
pytz @ file:///tmp/build/80754af9/pytz_1608922264688/work
pywin32==227
pywin32-ctypes @ file:///C:/ci/pywin32-ctypes_1594392691209/work
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==20.0.0
QtAwesome @ file:///tmp/build/80754af9/qtawesome_1602272867890/work
qtconsole @ file:///tmp/build/80754af9/qtconsole_1612458529756/work
QtPy==1.9.0
regex @ file:///D:/bld/regex_1610147071264/work
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
rope @ file:///tmp/build/80754af9/rope_1602264064449/work
schedule @ file:///home/conda/feedstock_root/build_artifacts/schedule_1612078172023/work
Send2Trash @ file:///tmp/build/80754af9/send2trash_1607525499227/work
six @ file:///C:/ci/six_1605205426665/work
sniffio @ file:///D:/bld/sniffio_1610318546199/work
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1611258885636/work
Sphinx @ file:///tmp/build/80754af9/sphinx_1610133430332/work
sphinxcontrib-applehelp @ file:///home/ktietz/src/ci/sphinxcontrib-applehelp_1611920841464/work
sphinxcontrib-devhelp @ file:///home/ktietz/src/ci/sphinxcontrib-devhelp_1611920923094/work
sphinxcontrib-htmlhelp @ file:///home/ktietz/src/ci/sphinxcontrib-htmlhelp_1611920974801/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///home/ktietz/src/ci/sphinxcontrib-qthelp_1611921055322/work
sphinxcontrib-serializinghtml @ file:///home/ktietz/src/ci/sphinxcontrib-serializinghtml_1611920755253/work
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy @ file:///D:/bld/sqlalchemy_1612225196382/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1602142927465/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1608153789284/work
terminado==0.9.2
testpath==0.4.4
textwrap3==0.9.2
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
tornado @ file:///C:/ci/tornado_1606935947090/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1612992512436/work
traitlets @ file:///tmp/build/80754af9/traitlets_1602787416690/work
typed-ast @ file:///C:/ci/typed-ast_1610484654578/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
urllib3 @ file:///tmp/build/80754af9/urllib3_1606938623459/work
voila @ file:///home/conda/feedstock_root/build_artifacts/voila_1610394987921/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
widgetsnbextension @ file:///D:/bld/widgetsnbextension_1605475785107/work
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306165655/work
wincertstore==0.2
wrapt==1.11.2
XlsxWriter @ file:///home/ktietz/src/ci_ipy2/xlsxwriter_1612556818988/work
xlwings==0.21.4
zipp @ file:///tmp/build/80754af9/zipp_1604001098328/work
